<!DOCTYPE html>
<html lang="nl">
	<%- include('partials/head.ejs') %>
	<body class="create-story">
		<% var years = Object.keys(data); %>

		<div class="grid">
			<a class="back" href="/">
				<img src="/images/icons/back.svg" alt="">
			</a>

			<nav class="table-of-contents">
				<button class="open">
					<%- include('../public/images/icons/menu.svg') %>
				</button>
				<button class="close">
					<%- include('../public/images/icons/close.svg') %>
				</button>
				<ol class="menu">
					<% years.forEach(year => { %>
						<li>
							<a href="#year-<%- year %>">
								<h2 class="year-title"><%= year %></h2>
							</a>
						</li>
					<% }); %>
				</ol>
			</nav>

			<main class="contents">
				<h1>Laat je verrassen</h1>

				<% for (var year in data) { %>
					<% if (data.hasOwnProperty(year)) { %>

						<section id="year-<%- year %>" class="year">
							<img class="crosses" src="/images/crosses-amsterdam.svg" alt="">
							<% data[year].forEach(street => { %>
								<h2><%- street.label %></h2>
								<ul class="street <%- street.uri.split('/')[street.uri.split('/').length-2] %>">
									<% street.photos.forEach(photo => { %>

										<li class="photo lazy">
											<a class="photo__img">
												<img src="<%- photo.url %>" alt="<%- photo.title %>">
												<!-- <form class="photo-share" action="/photo" method="post">
													<button class="share-btn" type="submit">
														<%- include('../public/images/icons/share.svg') %>
													</button>
												</form> -->
											</a>
											<p class="photo__desc"><%= photo.title %></p>
										</li>

									<% }); %>
								</ul>
							<% }); %>
						</section>

					<% } %>
				<% } %>
			</main>
		</div>

		<% if (sharedPhoto) { %>
			<div class="share-modal__overlay">
				<div class="share-modal">
					<img src="<%- sharedPhoto.src %>" alt="<%- sharedPhoto.alt %>">
					<article class="share">
						<h2>Deel jouw foto met anderen</h2>
						<p>
							Kopieer deze link:
						</p>
						<div class="copy-to-clipboard">
							<input type="text" value="">
							<button class="copy-btn" type="button"><%- include('../public/images/icons/clipboard.svg') %></button>
						</div>
					</article>
					<button class="close-btn" type="button"><%- include('../public/images/icons/close.svg') %></button>
				</div>
			</div>
		<% } %>

		<%- include('partials/foot.ejs') %>

		<script src="/dist/bundle/create-story.js"></script>
	</body>
</html>
