<%- include('partials/head.ejs') %>
<body class="new-story">
	<div id='map'></div>

	<div class="radiusSelect">
		<select id="radius-selected" name="radius">
			<option value="0.1">100 m</option>
			<option value="0.2">200 m</option>
			<option value="0.3">300 m</option>
			<option value="0.4">400 m</option>
			<option value="0.5" selected>500 m</option>
			<option value="0.6">600 m</option>
			<option value="0.7">700 m</option>
		</select>
	</div>

	<div class="meta-data">
		<nav></nav>
		<div class="slideone">
			<div>
				<h1>Ga op zoek naar foto’s uit het verleden in twee stappen.</h1>
				<p> Ben jij benieuwd hoe jouw straat er vroeger uit zag? Of zou je graag terug blikken op hoe de wijk er ook alweer uit zag? Start met zoeken en laat de herinneringen naar boven komen...</p>
				<p>Dit project is ontwikkeld door <a href="https://devriesdesigns.nl/" target="_blank">Max de Vries</a> en <a href="https://sisuus.amsterdam/" target="_blank">Suus ten Voorde</a> in samenwerking met <a href="https://adamlink.nl/" target="_blank">Adamnet</a> en de <a href="https://www.oba.nl/" target="_blank">Openbare Bibliotheek Amsterdam</a>.</p>
			</div>
			<button class="action-btn action-btn--white next-to-two">
				<span>Ga door naar stap 1</span>
				<%- include('../public/images/icons/arrow-right.svg') %>
			</button>
		</div>
		<div class="slidetwo">
			<div>
				<h1>Kies een locatie</h1>
				<h2>Verplaats de cirkel om een gebied te selecteren...</h2>
				<p>Denk bijvoorbeeld aan een wijk waar je hebt gewoond, een bekende plek in de stad of het park waar je veel te vinden was. </p>
				<h2>...of ga op zoek naar een straat.</h2>
				<p>Denk bijvoorbeeld aan een woonadres, de straat van jouw school of een straat van een vriend of vriendin.</p>
				<form class="search" action="/search-location" method="post">
					<input type="text" name="searchLocation" placeholder="Zoek jouw straat" value="" autocomplete="off">
					<button type="submit">Zoek</button>
				</form>

				<div class="autocomplete">
					<% if (data !== null && data !== undefined) { %>
						<ul id="autocomplete-list" class="autocomplete-items">
							<% data.forEach(street => { %>
								<li>
									<input id="<%- street.street.value %>" type="radio" name="wkt" value="<%- street.wkt.value %>">
									<label for="<%- street.street.value %>"><%= street.name.value %></label>
								</li>
							<% }); %>
						</ul>
					<% } %>
				</div>
			</div>
			<button class="next-to-three">Ga door naar stap 2</button>
		</div>
		<div class="slidethree">
			<div>
				<h1>Kies een periode</h1>
				<h2>Selecteer een beginjaar en een eindjaar</h2>
				<p>Denk bijvoorbeeld aan beelden tijdens de Tweede Wereldoorlog. Kies dan als beginjaar 1940 en eindjaar 1945.</p>
				<h2>Beginjaar</h2>
				<form class="timestamp-min search">
					<input type="number" name="timestamp-min" min="1000" max ="2020" step="1" placeholder="1970" value="1970" autocomplete="off">
					<button type="submit">Zoek</button>
				</form>
				<h2>Eindjaar</h2>
				<form class="timestamp-max search">
					<input type="number" name="timestamp-max" min="1000" max ="2020" step="1" placeholder="1980" value="1980" autocomplete="off">
					<button type="submit">Zoek</button>
				</form>
			</div>
			<form class="submit-location-and-timestamp" action="/create-story" method="post">
				<button type="submit">Zoek herinneringen</button>
			</form>
		</div>
	</div>

	<script>
		if('querySelector' in document && 'querySelectorAll' in document && 'addEventListener' in window) {
			var figures = document.querySelectorAll(".meta-data > div");
			var buttons = document.querySelectorAll("button");
			var slideIndex = 1;

			//create dot navigation
			for(var i = 0; i < figures.length; i++) {
				var nav = document.querySelector('nav');
				var dot = document.createElement('button');
				nav.appendChild(dot);
			}
			var dots = document.querySelectorAll('nav button');
			dots[0].classList.add("activeSlider")

			//prev next buttons function
			function showDivs(n) {
				var i;
				if (n > figures.length){
					slideIndex = 1
				}
				if (n < 1) {
					slideIndex = figures.length
				}
				for (i = 0; i < figures.length; i++) {
					 figures[i].style.display = "none";
				}
				figures[slideIndex-1].style.display = "flex";
			}

			showDivs(slideIndex);

			function plusDivs(n) {
				showDivs(slideIndex += n);
				for (i = 0; i < dots.length; i++) {
					dots[i].classList.remove("activeSlider");
				}
				dots[slideIndex-1].classList.add("activeSlider");

			}

			//dot navigation
			function specificDivs(n) {
				showDivs(slideIndex = n);
				for (i = 0; i < dots.length; i++) {
					dots[i].classList.remove("activeSlider");
				}
				dots[slideIndex-1].classList.add("activeSlider");
			}

			dots.forEach(function(el, index){
				el.addEventListener('click', function(){
					specificDivs(index + 1)
				})
			})

			var nexttotwo = document.querySelector(".next-to-two");
			var nexttothree = document.querySelector(".next-to-three");

			nexttotwo.addEventListener('click', function(){
				specificDivs(1 + 1)
			})

			nexttothree.addEventListener('click', function(){
				specificDivs(2 + 1)
			})
		}

	</script>
<%- include('partials/foot.ejs') %>
