<!DOCTYPE html>
<html lang="nl">
	<%- include('partials/head.ejs') %>
	<body class="home">
		<div class="wrapper">
			<div id='map'></div>

			<select class="radius-select" name="radius">
				<option value="100">100 m</option>
				<option value="200">200 m</option>
				<option value="300">300 m</option>
				<option value="400" selected>400 m</option>
				<option value="500">500 m</option>
				<option value="600">600 m</option>
				<option value="700">700 m</option>
			</select>

			<h1 class="title">Een stukje <strong>nostalgie</strong></h1>

			<main class="instructions">
				<nav class="pager">
					<ol class="steps">
						<li><a class="slide-link active" href="#slideone"><%- include('../public/images/icons/home.svg') %></a></li>
						<li><a class="slide-link" href="#slidetwo">1</a></li>
						<li><a class="slide-link" href="#slidethree">2</a></li>
					</ol>
				</nav>

				<section id="slideone" class="slide active">
					<article>
						<h1>Ga op zoek naar foto's uit het verleden in twee stappen.</h1>
						<p>
							 Ben jij benieuwd hoe jouw straat er vroeger uit zag? Of zou je graag terug blikken op hoe de wijk er ook alweer uit zag? Start met zoeken en laat de herinneringen naar boven komen...
						</p>
						<p>
							Dit project is ontwikkeld door <a href="https://www.devriesdesigns.nl" target="_blank">Max de Vries</a> en <a href="https://www.linkedin.com/in/suus-ten-voorde-61962814b/" target="_blank">Suus ten Voorde</a> in samenwerking met <a href="https://www.adamlink.nl" target="_blank">Adamlink</a> en de <a href="https://www.oba.nl/actueel/obahva.html" target="_blank">Openbare Bibliotheek Amsterdam.</a>
						</p>
					</article>

					<a class="action-btn action-btn--white slide-link" href="#slidetwo" role="button">
						<span>Naar stap 1</span>
						<%- include('../public/images/icons/arrow-right.svg') %>
					</a>
				</section>

				<section id="slidetwo" class="slide">
					<article>
						<h1>Kies een locatie</h1>
						<h2>Verplaats de cirkel om een gebied te selecteren...</h2>
						<p>
							Denk bijvoorbeeld aan een wijk waar je hebt gewoond, een bekende plek in de stad of het park waar je veel te vinden was.
						</p>
						<h2>...of ga op zoek naar een straat.</h2>
						<p>
							Denk bijvoorbeeld aan een woonadres, de straat van jouw school of een straat van een vriend of vriendin.
						</p>

						<form class="searchbar" action="/search-location" method="post">
							<input type="text" name="searchLocation" placeholder="Zoek jouw straat..." value="" autocomplete="off">
							<button type="submit">
								<%- include('../public/images/icons/search.svg') %>
							</button>
						</form>

						<div class="autocomplete"></div>
					</article>

					<a class="action-btn action-btn--white slide-link" href="#slidethree" role="button">
						<span>Naar laatste stap</span>
						<%- include('../public/images/icons/arrow-right.svg') %>
					</a>
				</section>

				<section id="slidethree" class="slide">
					<% var now = new Date(Date.now()).getFullYear(); %>
					<form class="location-timestamp">
						<article>
							<h1>Kies een periode</h1>
							<h2>Selecteer een beginjaar en een eindjaar.</h2>
							<p>
								Denk bijvoorbeeld aan beelden tijdens de Tweede Wereldoorlog. Kies dan als beginjaar 1940 en eindjaar 1945.
							</p>
							<ul class="year-selection">
								<li>
									<h2>Beginjaar:</h2>
									<small>(Vanaf 1900)</small>
									<select class="startyear" name="startyear">
										<% var i = 1900; %>
										<% while (i < now+1) { %>
											<% if (i == 1970) { %>
												<option value="<%- i %>" selected><%= i %></option>
											<% } else { %>
												<option value="<%- i %>"><%= i %></option>
											<% } %>
											<% i++; %>
										<% } %>
									</select>
								</li>
								<li>
									<h2>Eindjaar:</h2>
									<select class="endyear" name="endyear">
										<% var i = 1900; %>
										<% while (i < now+1) { %>
											<% if (i == 1980) { %>
												<option value="<%- i %>" selected><%= i %></option>
											<% } else { %>
												<option value="<%- i %>"><%= i %></option>
											<% } %>
											<% i++; %>
										<% } %>
									</select>
								</li>
							</ul>
						</article>
						<div>
							<button class="action-btn action-btn--white" type="submit">
								<span>Zoek herinneringen</span>
								<%- include('../public/images/icons/arrow-right.svg') %>
							</button>
						</div>
					</form>
				</section>
			</main>
		</div>

		<%- include('partials/foot.ejs') %>

		<script src="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js"></script>
		<script src="/dist/bundle/main.js"></script>
	</body>
</html>
