<%- include('partials/head.ejs') %>
<body>
	<div id='map'></div>

	<div class="radiusSelect">
		<select id="radius-selected" name="radius">
			<option value="0.1">100 m</option>
			<option value="0.2">200 m</option>
			<option value="0.3">300 m</option>
			<option value="0.4">400 m</option>
			<option value="0.5" selected>500 m</option>
			<option value="0.6">600 m</option>
			<option value="0.7">700 m</option>
		</select>
	</div>

	<main class="instructions">
		<nav class="pager">
			<ol class="steps">
				<li><a class="slide-link active" href="#slideone">1</a></li>
				<li><a class="slide-link" href="#slidetwo">2</a></li>
				<li><a class="slide-link" href="#slidethree"><%- include('../public/images/icons/finish.svg') %></a></li>
			</ol>
		</nav>

		<section id="slideone" class="slide active">
			<h1>Ga op zoek naar foto's uit het verleden in twee stappen.</h1>
			<p>
				 Ben jij benieuwd hoe jouw straat er vroeger uit zag? Of zou je graag terug blikken op hoe de wijk er ook alweer uit zag? Start met zoeken en laat de herinneringen naar boven komen...
			</p>
			<p>
				Dit project is ontwikkeld door <strong>Max de Vries</strong> en <strong>Suus ten Voorde</strong> in samenwerking met <strong>Adamnet</strong> en de <strong>Openbare Bibliotheek Amsterdam.</strong>
			</p>
			<a class="action-btn action-btn--black slide-link" href="#slidetwo" role="button">
				<span>Verder naar stap 2</span>
				<%- include('../public/images/icons/arrow-right.svg') %>
			</a>
		</section>

		<section id="slidetwo" class="slide">
			<h1>Kies een locatie</h1>
			<h2>Verplaats de cirkel om een gebied te selecteren...</h2>
			<p>
				Denk bijvoorbeeld aan een wijk waar je hebt gewoond, een bekende plek in de stad of het park waar je veel te vinden was.
			</p>
			<h2>...of ga op zoek naar een straat.</h2>
			<p>
				Denk bijvoorbeeld aan een woonadres, de straat van jouw school of een straat van een vriend of vriendin.
			</p>

			<form class="searchbar" action="/search-location" method="post">
				<input type="text" name="searchLocation" placeholder="Zoek jouw straat" value="" autocomplete="off">
				<button type="submit">
					<%- include('../public/images/icons/search.svg') %>
				</button>
			</form>

			<div class="autocomplete">
				<% if (data !== null && data !== undefined) { %>
					<ul id="autocomplete-list" class="autocomplete-items">
						<% data.forEach((street, i) => { %>
							<li>
								<label for="<%- street.street.value %>"><%= street.name.value %></label>
								<input id="<%- street.street.value %>" type="radio" name="wkt" value="<%- street.wkt.value %>">
							</li>
						<% }); %>
					</ul>
				<% } %>
			</div>

			<a class="action-btn action-btn--black slide-link" href="#slidethree" role="button">
				<span>Naar laatste stap</span>
				<%- include('../public/images/icons/arrow-right.svg') %>
			</a>
		</section>

		<section id="slidethree" class="slide">
			<h1>Kies een periode</h1>
			<h2>Selecteer een beginjaar en een eindjaar.</h2>
			<p>
				Denk bijvoorbeeld aan beelden tijdens de Tweede Wereldoorlog. Kies dan als beginjaar 1940 en eindjaar 1945.
			</p>

			<h2>Beginjaar (vanaf 1900)</h2>
			<select class="startyear">
				<% var i = 1900; %>
				<% var now = new Date(Date.now()).getFullYear(); %>
				<% while (i < now+1) { %>
					<% if (i == 1970) { %>
						<option value="<%- i %>" selected><%= i %></option>
					<% } else { %>
						<option value="<%- i %>"><%= i %></option>
					<% } %>
					<% i++; %>
				<% } %>
			</select>

			<h2>Eindjaar</h2>
			<select class="endyear">
				<% var i = 1900; %>
				<% var now = new Date(Date.now()).getFullYear(); %>
				<% while (i < now+1) { %>
					<% if (i == 1980) { %>
						<option value="<%- i %>" selected><%= i %></option>
					<% } else { %>
						<option value="<%- i %>"><%= i %></option>
					<% } %>
					<% i++; %>
				<% } %>
			</select>

			<a class="action-btn action-btn--black slide-link" href="#slidethree" role="button">
				<span>Zoek herinneringen</span>
				<%- include('../public/images/icons/arrow-right.svg') %>
			</a>
		</section>
	</main>
<%- include('partials/foot.ejs') %>
