<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head.ejs') %>
  <body>

    <div class="photo-share-overlay">
      <section class="photo-share-wrapper">
        <article class="shared-photo">
          <img class="shared-photo__img" src="<%- src %>" alt="<%- alt %>">
          <p class="shared-photo__desc"><%= alt %></p>
        </article>

        <aside class="call-to-action">
          <h1>Zelf foto's uit het verleden vinden?</h1>
          <a class="action-btn action-btn--white" href="/" type="button">
            <span>Zoek herinneringen</span>
            <%- include('../public/images/icons/arrow-right.svg') %>
          </a>
        </aside>
      </section>
    </div>

    <%- include('partials/foot.ejs') %>
  </body>
</html>
